@import './fonts.css';

body {
  background-color: #ebe9e9;
  color: #fff;
  font-family: "Slate W01";
}


/* Small */

.ArtistGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: .75rem;
  padding: .75rem;
}

.App>div:first-of-type {
  padding-top: 20vh;
}

.ArtistInfo div {
  max-width: 400px;
  margin: 0 auto;
}

.ArtistInfo div img {
  width: 100%;
}

/* Medium */

@media(min-width: 768px) {
  .ArtistGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .App>div:first-of-type {
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 1em;
  }

  .ArtistInfo {
    display: flex;
  }
}